/* @import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap"); */

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
body {
  font-family: "Oleo Script", system-ui;
}

.container {
  position: relative;
  /* border: 10px dashed gold; */
  height: 1000px;
}

nav {
  background-color: aquamarine;
  margin-bottom: 30px;
  position: sticky;
  top: 0;
}

section {
  background-color: lightgreen;
  padding: 30px;
  margin: 500px 0;
}

.img {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: gray;
  padding: 20px;
  height: 100px;
}

/* main  */

/* main {
  position: relative;
  border: 2px solid red;
  height: 100px;
}
.box {
  position: absolute;
  right: 0;
  border: 5px solid rgb(2, 28, 255);
  width: 50px;
  height: 50px;
} */
